<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
>

    <import resource="users.xml"/>
    <import resource="auditoriums.xml"/>
    <import resource="discounts.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.epam.reshetnev.spring.core.dao.impl"/>
    <context:component-scan base-package="com.epam.reshetnev.spring.core.service.impl"/>
    <context:component-scan base-package="com.epam.reshetnev.spring.core.discount.impl"/>

    <aop:aspectj-autoproxy />

    <bean id="counterAspect" class="com.epam.reshetnev.spring.core.aspect.CounterAspect"/>
    <bean id="discountAspect" class="com.epam.reshetnev.spring.core.aspect.DiscountAspect"/>

    <bean id="event" class="com.epam.reshetnev.spring.core.domain.Event" scope="prototype"/>

    <bean id="ticket" class="com.epam.reshetnev.spring.core.domain.Ticket" scope="prototype"/>

    <bean id="dateTimeFormatter" class="java.time.format.DateTimeFormatter" factory-method="ofPattern">
        <constructor-arg value="dd.MM.yyyy HH.mm"/>
    </bean>

    <bean id="dateFormatter" class="java.time.format.DateTimeFormatter" factory-method="ofPattern">
        <constructor-arg value="dd.MM.yyyy"/>
    </bean>

    <bean id="timeFormatter" class="java.time.format.DateTimeFormatter" factory-method="ofPattern">
        <constructor-arg value="HH.mm"/>
    </bean>

    <bean id="app" class="com.epam.reshetnev.spring.core.App"/>

    <!-- creates a java.util.Properties instance with values loaded from the supplied location -->
    <util:properties id="usersProps" location="classpath:users.properties"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:users.properties</value>
                <value>classpath:auditoriums.properties</value>
                <value>classpath:discounts.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <!-- Set SYSTEM_PROPERTIES_MODE_OVERRIDE -->
        <property name="systemPropertiesMode" value="2"/>
    </bean>

</beans>